{% extends "base_template.html" %}

{% block content %}
    {% load django_tables2 %}
    {% if request.user.is_authenticated %}
        <nav class="navigation">
            <div align="right" style="margin-right: 20px">
                Текущий пользователь: {{ request.user }} | <a href="/logout/">Выйти</a>
            </div>
        </nav>
    {% endif %}
    <h1 align="center">Города и население</h1><br>

    {% if tables %}
        {% for table in tables %}
            <h3 style="margin-left: 20px">{{ table.prefix }}</h3>
            {% render_table table %}
        {% endfor %}
    {% else %}
        <p style="margin-left: 20px">
            <em>В базе данных пока нет ниодного города.<br>
                Добавьте континенты, страны и соответствующие им города в <a href="/admin/">административной панели</a> проекта.</em>
        </p>
    {% endif %}
{% endblock %}